:root {
    --global-font-family: Inter, sans-serif;
    --global-font-size: 72px;
    --global-text-color: #000000;
    --global-color-primary: #BBE1FA;
    --global-color-primary2: #3282B8;
    --global-color-primary3: #0F4C75;
    --global-color-primary4: #1B262C;
}

body {
    font-family: var(--global-font-family);
    color: var(--global-text-color);
    margin: 28px 65px;
}



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.nav-links {
    color: #1B262C;
    display: flex;
    list-style-type: none;
    margin-right: 181px;
    gap: 50px;
    font-size: 18px;
}



.nav-link{
    text-decoration: none;
    color: black;
}


.active{

    text-decoration: underline solid 2px ;
    text-underline-offset: 8px;

}



.flex-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{

    width: 161px;
    height: 57px;

}

.userprofile{
    height: 35px;
    width: 35px;
    border-radius: 0px;

}

.hero{
    display: flex;
    justify-content: space-between;
align-items: center;
}

.hero-heading{
    margin: 46px 0;
    display: grid;
    gap: 0;

}
.welcome{

    margin: 0;
    position: absolute;
    width: 294px;
    height: 42px;
    left: 150px;
    top: 110px;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;

    letter-spacing: 0.12em;
    color: var(--global-color-primary3);
}

.welcome-heading{
    margin: 0;
    padding: 0;
    position: absolute;
    height: 240px;
    width: 378px;
    left: 150px;
    top: 147px;
    z-index: 10;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 0.06em;
    color: var(--global-color-primary3);


}



.bg-img{
    position: absolute;

    height: 509px;
    width: 914px;
    left: 412px;
    top: 128px;
    border-radius: 0px;


}



.search{
    background: var(--global-color-primary3);
    padding: 20px 35px;
    border-radius: 15px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 25px;
}

.employee{
    width:480px ;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 0px 20px;
}

.department{
    width:480px ;
    height: 35px;
    border-radius: 10px;
    padding: 0px 20px;

}


.search-form{
    display: flex;
    align-items: center;
    justify-content: center;
   gap: 0 15%;

}


.submit-btn{
    width:155px ;
    height: 35px;
    background: var(--global-color-primary);
    border-radius: 10px;
    border: none;
}

.bg-img-emp{
    width: 600px;
    position: absolute;
    left: 48.76%;
    right: 3.95%;
    top: 38.02%;
    bottom: 7.81%;

}

.vector-icon{
    background: var(--global-color-primary3);
    padding: 5px 8px;
    border-radius: 8px;
    position: absolute;
    top: 32%;
    left: 6%;


}

.employee-init{
    display: grid;
}

.emp-detail{
    background: var(--global-color-primary3);
    font-style: normal;
    line-height: 39px;
    /* identical to box height */
    margin:80px 10px;
    padding: 50px 85px;
    letter-spacing: 0.05em;
    border-radius: 15px;

    /* Primary 1 */
    color: var(--global-color-primary);


}

.Employee-Flex{
    display: flex;
    margin-top: 30px;
    gap: 40%;

}

.Sub-employee{
display: flex;
    flex-wrap: wrap;
    gap: 15px 85px;
    margin-top: 30px;
    padding-bottom:50px ;
}
.Sub-employee-item{
    display: flex;
    flex: 0 28%;
    justify-content: start;
    gap: 15px ;

}

.Sub-employee-item-detail {
    display: grid;
    line-height: 2px;



}



.Employee-Flex-heading{
    background: var(--global-color-primary);
    color: #1B262C;
    padding: 0; margin: 0;
    font-size: 18px;
    font-weight: 500;
    width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 10px;

}
.Employee-Flex-cheading{
    background: var(--global-color-primary);
    color: #1B262C;
    padding: 0; margin: 0;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    width: 150px;
    justify-content: center;

    border-radius: 10px;

}

.Employee-Flex-gender{
    padding: 0; margin: 0
}

.Employee-Flex-dob{
    padding: 0; margin: 0
}
.Employee-Flex-country{
    padding: 0; margin: 0
}

.Employee-Flex-detail{
    margin-top: 18px;
    line-height: 28px;
}

.Sub-employee-heading{

    background: var(--global-color-primary);
    color: #1B262C;
    margin-top: 30px;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    width: 135px;
    align-items: center;
    border-radius: 10px;

}

.Employee-Flex-number{
    padding: 0; margin: 0
}

.Employee-Flex-email{
    padding: 0; margin: 0
}
.Employee-Flex-address{
    padding: 0; margin: 0
}

.emp-info-name{
    padding: 0; margin: 0
}
.emp-info-post{
    padding: 0; margin: 0
}

.current-emp{
    position: absolute;
    left: 76.35%;
    top: 35%;

}

.Sub-employee-item-detail-name{
    font-weight: 400;
    font-size: 20px;
}
.Sub-employee-item-detail-post{
    font-weight: 400;
    font-size: 12px;
}
.emp-img{
    width: 65px;
}